In [1]:
import pandas as pd
import numpy as np #mathematical library

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()
df7 = df.copy()

1. Normalization
2. Standardization
3. Log Transformation
4. Robust Scaler
5. Max Absolute Scaler

# Normalization

In [5]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

In [6]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler() #default feature_range=(0,1)

In [7]:
df_ms = m.fit(df[['Marketing Spend']]) # calculation everything

In [8]:
df_ms

MinMaxScaler()

In [9]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [10]:
df[['Marketing_Spend_New']] = m.transform(df[['Marketing Spend']])

In [11]:
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing_Spend_New
0,114523.61,136897.80,471784.10,Dhaka,192261.83,0.692617
1,162597.70,151377.59,443898.53,Ctg,191792.06,0.983359
2,153441.51,101145.55,407934.54,Rangpur,191050.39,0.927985
3,144372.41,118671.85,383199.62,Dhaka,182901.99,0.873136
4,142107.34,91391.77,366168.42,Rangpur,166187.94,0.859438

In [12]:
df[['Administration']] = m.fit_transform(df[['Administration']])
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing_Spend_New
0,114523.61,0.651744,471784.10,Dhaka,192261.83,0.692617
1,162597.70,0.761972,443898.53,Ctg,191792.06,0.983359
2,153441.51,0.379579,407934.54,Rangpur,191050.39,0.927985
3,144372.41,0.512998,383199.62,Dhaka,182901.99,0.873136
4,142107.34,0.305328,366168.42,Rangpur,166187.94,0.859438

# Perform Normalization using loop

In [13]:
from sklearn.preprocessing import MinMaxScaler
m=MinMaxScaler(feature_range=(0, 1))

# apply normalization techniques

In [14]:
for col in df2.columns:
    if df2[col].dtype == 'object':
        continue
    df2[col]= m.fit_transform(df2[[col]])
df2.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

# Standardization

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [21]:
for col in df3.columns:
    if df3[col].dtype == 'object':
        continue
    df6[col]= scaler.fit_transform(df3[[col]])
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Log Transformation

In [15]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html

In [16]:
from sklearn.preprocessing import FunctionTransformer
ft = FunctionTransformer(np.log1p) #np.log1p will avoid 0

In [17]:
df2.head(2)

   Marketing Spend  Administration  Transport   Area    Profit
0         0.692617        0.651744   1.000000  Dhaka  1.000000
1         0.983359        0.761972   0.940893    Ctg  0.997355

In [18]:
df2['Transport'] = ft.fit_transform(df2[['Transport']])

In [19]:
df2.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   0.693147    Dhaka  1.000000
1         0.983359        0.761972   0.663148      Ctg  0.997355
2         0.927985        0.379579   0.623081  Rangpur  0.993178
3         0.873136        0.512998   0.594561    Dhaka  0.947292
4         0.859438        0.305328   0.574440  Rangpur  0.853171

# Perform Log using loop

In [22]:
from sklearn.preprocessing import FunctionTransformer
ft = FunctionTransformer(np.log1p) #np.log1p will avoid 0

In [23]:
for col in df4.columns:
    if df4[col].dtype == 'object':
        continue
    df4[col]= ft.fit_transform(df3[[col]])
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        11.648545       11.826997  13.064279    Dhaka  12.166619
1        11.999040       11.927539  13.003354      Ctg  12.164172
2        11.941081       11.524326  12.918864  Rangpur  12.160298
3        11.880158       11.684126  12.856314    Dhaka  12.116711
4        11.864345       11.422922  12.810851  Rangpur  12.020881

# Robust Scaler

In [24]:
from sklearn.preprocessing import RobustScaler
rbs=RobustScaler()

In [25]:
for col in df6.columns:
    if df6[col].dtype == 'object':
        continue
    df6[col]= rbs.fit_transform(df6[[col]])
df6.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.672530        0.345355   1.552016    Dhaka  1.698340
1         1.452113        0.697565   1.383714      Ctg  1.688874
2         1.303634       -0.524290   1.166654  Rangpur  1.673929
3         1.156567       -0.097977   1.017368    Dhaka  1.509736
4         1.119836       -0.761543   0.914576  Rangpur  1.172943

# Max Absolute Scaler

In [26]:
from sklearn.preprocessing import MaxAbsScaler
max=MaxAbsScaler()

In [27]:
for col in df5.columns:
    if df5[col].dtype == 'object':
        continue
    df5[col]= max.fit_transform(df5[[col]])
df5.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.000000    Dhaka  1.000000
1         0.983359        0.828805   0.940893      Ctg  0.997557
2         0.927985        0.553781   0.864664  Rangpur  0.993699
3         0.873136        0.649738   0.812235    Dhaka  0.951317
4         0.859438        0.500378   0.776136  Rangpur  0.864383